<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.web.user.mapper.secondary.SaltMapper">
	<insert id="addUserSalt">
		INSERT INTO user_salt (user_id, salt)
		VALUES (#{userId}, #{salt})
	</insert>
	
	<select id="findUserSaltById" resultType="map">
		SELECT salt FROM user_salt u
		WHERE u.user_id = #{userId}
	</select>
</mapper>